* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* background-color: salmon; */
  width: 50%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  grid-template-areas:
    "display display display display"
    "plus minus times divide"
    "seven eight nine equal"
    "four five six equal"
    "one two three equal"
    "zero dot ac equal";
  gap: 5px;
}

.container > * {
  padding: 20px;
  font-size: 20px;
}

.display {
  grid-area: display;
}

.equal {
  grid-area: equal;
}
