* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 50%;
  display: grid;
  grid-template: repeat(6, minmax(40px, 1fr)) / repeat(4, minmax(40px, 1fr));
  gap: 2px;
}

.container > * {
  padding: 20px;
  font-size: 20px;
  border: 1px solid #5e5e5e;
}

.display {
  grid-column: 1 / -1;
  text-align: right;
  border-radius: 10px 10px 0 0;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: #e6e6e6;
}

button:active {
  background-color: #f1f1f1;
}

.equal {
  grid-column: -2 / -1;
  grid-row: 3 / -1;
  border-bottom-right-radius: 10px;
}

.zero {
  border-bottom-left-radius: 10px;
}

@media screen and (max-width: 700px) {
  .container > * {
    padding: 15px;
  }
}

@media screen and (max-width: 550px) {
  .container > * {
    padding: 10px;
    font-size: 15px;
  }
}
